# Root
.env
.claude
plan
prod_snapshot

# Node
node_modules/

# Backend
/backend/dist/
/backend/node_modules/
/backend/.env
/backend/src/scripts/

# Frontend
/frontend/.next/
/frontend/node_modules/
/frontend/.env.local
