# Root
.env
/plan
/prod_snapshot
/scripts
/.claude

# Node
node_modules/

# Backend
/backend/dist/
/backend/node_modules/
/backend/.env
/backend/src/scripts/refresh-dev-db.sh
/backend/src/prod_snapshot

# Frontend
/frontend/.next/
/frontend/node_modules/
/frontend/.env.local
